[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argumentize = {editable = true, git = "https://github.com/d42/argumentize"}
flask = "*"
flask-restful = "*"
prometheus-client = "*"
pyyaml = "*"
requests = "*"
pytest = "*"
python-dateutil = "*"
"pysdl2" = "*"
paho-mqtt = "*"

[dev-packages]
evdev = "*"
neovim = "*"
pytest-httpbin = "*"
pudb = "*"
pytest-pudb = "*"

[scripts]
start = 'python main.py'
